.focus{
   background: linear-gradient(45deg, #2992d0, #51b74b) !important;
    color: #ffffff !important;
}

.focus hr {
    width: 20% !important;
}

.demo-card-square.mdl-card.mdl-shadow--2dp:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
 .team{
     width: 80%;
     margin: auto;
 }

 .pointer{
     cursor: pointer;
 }